.single-container.sign-up__profiles
  = render partial: 'single-header'
  %main.single-main.signup-page__header
    %section.single-main__container
      %h2.single-main__container__h2 会員情報入力
      %form.single-main__container__form{action: "#", method: "", novalidate: "novalidate"}
        .single-main__container__form__content
          .form-group
            %label{for: "nickname"} ニックネーム
            %span.form-group__require 必須
            %input.form-group__input{name: "nickname", placeholder: "例) メルカリ太郎", type: "string", value: ""}/
          .form-group
            %label{for: "email"} メールアドレス
            %span.form-group__require 必須
            %input.form-group__input{name: "email", placeholder: "PC・携帯どちらでも可", type: "string", value: ""}/
          .form-group
            %label{for: "password"} パスワード
            %span.form-group__require 必須
            %input.form-group__input{name: "password", placeholder: "6文字以上", type: "string", value: ""}/
          .form-group
            %label{for: "password_confirmation"} パスワード（確認）
            %span.form-group__require 必須
            %input.form-group__input{name: "password_confirmation", placeholder: "6文字以上", type: "string", value: ""}/
          .form-message
            %h2 本人確認
            %span 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .form-group
            %label{for: "family_name"} 姓（全角）
            %span.form-group__require 必須
            %input.form-group__input{name: "family_name", placeholder: "例) 山田", type: "string", value: ""}/
          .form-group
            %label{for: "last_name"} 名（全角）
            %span.form-group__require 必須
            %input.form-group__input{name: "last_name", placeholder: "例) 彩", type: "string", value: ""}/
          .form-group
            %label{for: "family_name_kana"} 姓カナ（全角）
            %span.form-group__require 必須
            %input.form-group__input{name: "family_name_kana", placeholder: "例) ヤマダ", type: "string", value: ""}/
          .form-group
            %label{for: "last_name_kana"} 名カナ（全角）
            %span.form-group__require 必須
            %input.form-group__input{name: "last_name_kana", placeholder: "例) アヤ", type: "string", value: ""}/
          .form-group
            %label{for: "birth"} 生年月日
            %span.form-group__require 必須
            .select-wrap-birth
              %select.select-wrap-birth__default{name: "birth_year"}
                %option{value: ""} --
                %option{value: "1"} 1960
                %option{value: "2"} 1961
                %option{value: "3"} 1962
                %option{value: "4"} 1963
                %option{value: "5"} 1964
                %option{value: "6"} 1965
                %option{value: "7"} 1966
                %option{value: "8"} 1967
                %option{value: "9"} 1968
                %option{value: "10"} 1969
                %option{value: "11"} 1970
                %option{value: "12"} 1971
                %option{value: "13"} 1972
                %option{value: "14"} 1973
                %option{value: "15"} 1974
                %option{value: "16"} 1975
                %option{value: "17"} 1976
                %option{value: "18"} 1977
                %option{value: "19"} 1978
                %option{value: "20"} 1979
                %option{value: "21"} 1980
                %option{value: "22"} 1981
                %option{value: "23"} 1982
                %option{value: "24"} 1983
                %option{value: "25"} 1984
                %option{value: "26"} 1985
                %option{value: "27"} 1986
                %option{value: "28"} 1987
                %option{value: "29"} 1988
                %option{value: "30"} 1989
                %option{value: "31"} 1990
                %option{value: "32"} 1991
                %option{value: "33"} 1992
                %option{value: "34"} 1993
                %option{value: "35"} 1994
                %option{value: "36"} 1995
                %option{value: "37"} 1996
                %option{value: "38"} 1997
                %option{value: "39"} 1998
                %option{value: "40"} 1999
                %option{value: "41"} 2000
                %option{value: "42"} 2001
                %option{value: "43"} 2002
                %option{value: "44"} 2003
                %option{value: "45"} 2004
                %option{value: "46"} 2005
                %option{value: "47"} 2006
                %option{value: "48"} 2007
                %option{value: "49"} 2008
                %option{value: "50"} 2009
                %option{value: "51"} 2010
                %option{value: "52"} 2011
                %option{value: "53"} 2012
                %option{value: "54"} 2013
                %option{value: "55"} 2014
                %option{value: "56"} 2015
                %option{value: "57"} 2016
                %option{value: "58"} 2017
                %option{value: "59"} 2018
                %option{value: "60"} 2019
              %i.fas.fa-chevron-down
              %span.form-group-name 年
              %select.select-wrap-birth__default{name: "birth_month"}
                %option{value: ""} --
                %option{value: "1"} 1
                %option{value: "2"} 2
                %option{value: "3"} 3
                %option{value: "4"} 4
                %option{value: "5"} 5
                %option{value: "6"} 6
                %option{value: "7"} 7
                %option{value: "8"} 8
                %option{value: "9"} 9
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              %i.fas.fa-chevron-down
              %span.form-group-name 月
              %select.select-wrap-birth__default{name: "birth_day"}
                %option{value: ""} --
                %option{value: "1"} 1
                %option{value: "2"} 2
                %option{value: "3"} 3
                %option{value: "4"} 4
                %option{value: "5"} 5
                %option{value: "6"} 6
                %option{value: "7"} 7
                %option{value: "8"} 8
                %option{value: "9"} 9
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
                %option{value: "13"} 13
                %option{value: "14"} 14
                %option{value: "15"} 15
                %option{value: "16"} 16
                %option{value: "17"} 17
                %option{value: "18"} 18
                %option{value: "19"} 19
                %option{value: "20"} 20
                %option{value: "21"} 21
                %option{value: "22"} 22
                %option{value: "23"} 23
                %option{value: "24"} 24
                %option{value: "25"} 25
                %option{value: "26"} 26
                %option{value: "27"} 27
                %option{value: "28"} 28
                %option{value: "29"} 29
                %option{value: "30"} 30
                %option{value: "31"} 31
              %i.fas.fa-chevron-down
              %span.form-group-name 日
            %span.form-message-bottom ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .form-group
            .g-recaptcha.signup-recaptcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
              %div{:style => "width: 304px; height: 78px;"}
                %iframe{:frameborder => "0", :height => "78", :name => "a-pyadwnkfzq0l", :role => "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1559543665173&size=normal&cb=9umcotx4gjzo", :width => "304"}
                %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
          .form-confirmation 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
          .single-main__container__form__content
            %button.single-main__container__form__content__btn{type: "submit"} 次へ進む
          .form-information 本人情報の登録について
  = render partial: 'single-footer'
