%aside.app-banner
  .app-banner-pc
    .app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        %figure
          %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?4069491723", :width => "50"}/
        %ul.clearfix
          %li
            %a{:href => "#", :target => "_blank"}
              %img{:alt => "", :height => "29", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4069491723", :width => "98"}/
          %li
            %a{:href => "#", :target => "_blank"}
              %img{:alt => "", :height => "29", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4069491723", :width => "97"}/
        %a.right-icon
          %figure
            %img{:alt => "", :height => "230", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?4069491723", :width => "230"}/
%footer.footer
  %nav.clearfix
    .footer__cell.short
      %h2.footer__cell__head メルカリについて
      %ul.footer__cell__menu
        %li.menu__list
          %a{:href => "#"} 会社概要
        %li.menu__list
          %a{:href => "#"} 採用情報
        %li.menu__list
          %a{:href => "#"} プレスリリース
        %li.menu__list
          %a{:href => "#"} 公式ブログ
        %li.menu__list
          %a{:href => "#"} メルカリロゴ利用ガイドライン
        %li.menu__social-link
          %a{:href => "#", :target => ""}
            %i.fab.fa-twitter.menu__social-link__icon-twitter
          %a{:href => "#", :target => "_blank"}
            %i.fab.fa-facebook-square.menu__social-link__icon-facebook
    .footer__cell.short
      %h2.footer__cell__head ヘルプ＆ガイド
      %ul.footer__cell__menu
        %li.menu__list
          %a{:href => "#"} メルカリガイド
        %li.menu__list
          %a{:href => "#"} らくらくメルカリ便
        %li.menu__list
          %a{:href => "#"} ゆうゆうメルカリ便
        %li.menu__list
          %a{:href => "#"} 大型メルカリ便
        %li.menu__list
          %a{:href => "#"} 車体取引ガイド
        %li.menu__list
          %a{:href => "#"} メルカリあんしん・あんぜん宣言！
        %li.menu__list
          %a{:href => "#"} 偽ブランド品撲滅への取り組み
        %li.menu__list
          %a{:href => "#"} メルカリボックス
    .footer__cell
      %h2.footer__cell__head プライバシーと利用規約
      %ul.footer__cell__menu
        %li.menu__list
          %a{:href => "#"} プライバシーポリシー
        %li.menu__list
          %a{:href => "#"} メルカリ利用規約
        %li.menu__list
          %a{:href => "#"} あんしんスマホサポート制度に関する利用特約
        %li.menu__list
          %a{:href => "#"} コンプライアンスポリシー
    .footer__wide-cell
      %ul.wide-cell__menu
        %li.menu__list
          %a{:href => "#"} 個人データの安全管理に係る基本方針
        %li.menu__list
          %a{:href => "#"} 特定商取引に関する表記
        %li.menu__list
          %a{:href => "#"} 資金決済法に基づく表示
        %li.menu__list
          %a{:href => "#"} 法令遵守と犯罪防止のために
        %li.menu__list
          %a{:href => "#"} 返品・返金ポリシー
    .footer__cell.short
      %h2.footer__cell__head 国
      %ul.footer__cell__menu
        %li.menu__list
          %a{:href => "#"} 日本
        %li.menu__list
          %a{:href => "#"} United States
  .footer-bottom
    %span.footer-bottom__logo
      = link_to root_path, class: "footer-logo" do
        %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1612736639", :width => "124"}/
    %span.footer-bottom__copyright
      %small ©2019 Mercari
%a.footer-sell-btn{:href => "#"}
  .footer-sell-btn__div 出品
  %i.fas.fa-camera.footer-sell-btn__icon-camera
