<aside class="app-banner">
  <div class="app-banner-pc">
    <div class="app-banner-pc-inner">
      <h2>スマホでかんたんフリマアプリ</h2>
        <p>今すぐ無料ダウンロード！</p>
    <div class="app-banner-icon clearfix">
      <figure>
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?4069491723" width="50" alt="">
      </figure>
      <ul class="clearfix">
        <li>
          <a href="#" target="_blank">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4069491723" alt="" width="98" height="29">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4069491723" alt="" width="97" height="29">
          </a>
        </li>
      </ul>
      <a class="right-icon">
      <figure>
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?4069491723" alt="" width="230" height="230">
      </figure>
      </a>
    </div>
    </div>
  </div>
</aside>

<%# 以下、フッター %>
<footer class = "footer">
 <nav class = "clearfix">
   <div class = "footer__cell short">
     <h2 class = "footer__cell__head">メルカリについて</h2>
     <ul class = "footer__cell__menu">
       <li class = "menu__list"><a href = "#">会社概要</a></li>
       <li class = "menu__list"><a href = "#">採用情報</a></li>
       <li class = "menu__list"><a href = "#">プレスリリース</a></li>
       <li class = "menu__list"><a href = "#">公式ブログ</a></li>
       <li class = "menu__list"><a href = "#">メルカリロゴ利用ガイドライン</a></li>

       <li class = "menu__social-link">
         <a href = "#" target = "">
           <i class="fab fa-twitter menu__social-link__icon-twitter"></i>
         </a>
         <a href = "#" target = "_blank">
           <i class= "fab fa-facebook-square menu__social-link__icon-facebook"></i>
         </a>
       </li>
     </ul>
   </div>
    <div class = "footer__cell short">
       <h2 class = "footer__cell__head">ヘルプ＆ガイド</h2>
       <ul class = "footer__cell__menu">
         <li class = "menu__list"><a href = "#">メルカリガイド</a></li>
         <li class = "menu__list"><a href = "#">らくらくメルカリ便</a></li>
         <li class = "menu__list"><a href = "#">ゆうゆうメルカリ便</a></li>
         <li class = "menu__list"><a href = "#">大型メルカリ便</a></li>
         <li class = "menu__list"><a href = "#">車体取引ガイド</a></li>
         <li class = "menu__list"><a href = "#">メルカリあんしん・あんぜん宣言！</a></li>
         <li class = "menu__list"><a href = "#">偽ブランド品撲滅への取り組み</a></li>
         <li class = "menu__list"><a href = "#">メルカリボックス</a></li>
       </ul>
    </div>
    <div class = "footer__cell">
        <h2 class = "footer__cell__head">プライバシーと利用規約</h2>
        <ul class = "footer__cell__menu">
          <li class = "menu__list"><a href = "#">プライバシーポリシー</a></li>
          <li class = "menu__list"><a href = "#">メルカリ利用規約</a></li>
          <li class = "menu__list"><a href = "#">あんしんスマホサポート制度に関する利用特約</a></li>
          <li class = "menu__list"><a href = "#">コンプライアンスポリシー</a></li>
        </ul>
    </div>
    <div class = "footer__wide-cell">
       <ul class = "wide-cell__menu">
         <li class = "menu__list"><a href = "#">個人データの安全管理に係る基本方針</a></li>
         <li class = "menu__list"><a href = "#">特定商取引に関する表記</a></li>
         <li class = "menu__list"><a href = "#">資金決済法に基づく表示</a></li>
         <li class = "menu__list"><a href = "#">法令遵守と犯罪防止のために</a></li>
         <li class = "menu__list"><a href = "#">返品・返金ポリシー</a></li>
       </ul>
    </div>
    <div class = "footer__cell short">
       <h2 class = "footer__cell__head">国</h2>
       <ul class = "footer__cell__menu">
         <li class = "menu__list"><a href = "#">日本</a></li>
         <li class = "menu__list"><a href = "#">United States</a></li>
       </ul>
    </div>
 </nav>
     <div class = "footer-bottom">
     <span class = "footer-bottom__logo">
      <%= link_to root_path, class: "footer-logo" do %>
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1612736639" width="124" height="33" alt="mercari">
      <% end %>
     </span>
     <span class = "footer-bottom__copyright">
       <small>©2019 Mercari</small>
     </span>
     </div>
</footer>
 <a class = "footer-sell-btn" href = "#">
   <div class="footer-sell-btn__div">出品</div>
   <i class = "fas fa-camera footer-sell-btn__icon-camera">
   </i>
 </a>
 