<main>
  <div class="user-side">
    <nav class="navi">
      <ul class="navi-list">
        <li>
          <a class="navi-list-item">
            マイページ
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            お知らせ
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            やることリスト
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            いいね!一覧
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            出品する
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            出品した商品-出品中
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            出品した商品-取引中
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            出品した商品-売却済み
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            購入した商品-取引中
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            購入した商品-過去の取引
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            ニュース一覧
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            評価一覧
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            ガイド
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            お問い合わせ
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
      <h3>メルペイ</h3>
      <ul class="navi-list">
        <li>
          <a class="navi-list-item">
            売上・振込申請
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            ポイント
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
      <h3>設定</h3>
      <ul class="navi-list">
        <li>
          <a class="navi-list-item">
            プロフィール
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            発送元・お届け先住所変更
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            支払い方法
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            メール/パスワード
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            本人情報
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            電話番号の確認
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
        <li>
          <a class="navi-list-item">
            ログアウト
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="user-main">
    <section class="user-main-icon">
      <a>
        <figure>
          <img>
        </figure>
        <h2>
        </h2>
      </a>
    </section>
    <section class="user-main-content">
      <ul class="user-main__tab">
        <li>
          <h3>
            <a href="###">
              お知らせ
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a href="###">
              やることリスト
            </a>
          </h3>
        </li>
      </ul>
      <div class="user-main__content">
        <ul id="user-main__content-todo" class="user-main__list">
          <li>
            <a class="user-main__list-link">
              <figure>
                <img src="assets/mercari_profile">
              </figure>
              <div class="user-main__item">
                <div class="user-main__text">
                  事務局から個別メッセージ「ログイン通知」
                </div>
                <time>
                  <i class="far fa-clock"></i>
                  <span>
                    2時間前
                  </span>
                </time>
              </div>
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
          <li>
            <a class="user-main__list-link">
              <figure>
                <img src="assets/mercari_profile">
              </figure>
              <div class="user-main__item">
                <div class="user-main__text">
                  事務局から個別メッセージ「売上金の残高があります」
                </div>
                <time>
                  <i class="far fa-clock"></i>
                  <span>
                    20時間前
                  </span>
                </time>
              </div>
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
          <li>
            <a class="user-main__list-link">
              <figure>
                <img src=".../assets/mercari_profile">
              </figure>
              <div class="user-main__item">
                <div class="user-main__text">
                  《今月は手数料無料!》「メルペイあと払い」なら、チャージ不要で日々のお買い物がスムーズに!
                </div>
                <time>
                  <i class="far fa-clock"></i>
                  <span>
                    1日前
                  </span>
                </time>
              </div>
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
          <li class="user-main__list-all">
            <a href="###">
              一覧を見る
            </a>
          </li>
        </ul>
        <ul id="user-main__content-notification" class="user-main__list">
          <li class="nothing">
            現在、やることリストはありません
          </li>
        </ul>
      </div>
    </section>
    <section class="user-main__bought">
      <h2 class="user-main__bought-head">
        購入した商品
      </h2>
      <ul class="user-main__tab">
        <li>
          <h3>
            <a>
              取引中
            </a>
          </h3>
        </li>
        <li>
          <h3>
            <a>
              過去の取引
            </a>
          </h3>
        </li>
      </ul>
      <div class="user-main__content">
        <ul id="user-main__content-deal" class="user-main__list">
          <li class="nothing">
            取引中の商品はありません
          </li>
        </ul>
        <ul id="user-main__content-old" class="user-main__list">
            <li>
              <a class="user-main__list-link" href="###">
                <figure>
                  <img src="###">
                </figure>
                <div class="user-main__item">
                  <div class="user-main__text">
                    「本格ビジネスサイトを作りながら学ぶWordPressの教科書」を購入しました。
                  <span>
                    取引が完了しました
                  </span>
                  </div>
                  <div>
                    取引完了
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="user-main__list-link" href="###">
                <figure>
                  <img src="###">
                </figure>
                <div class="user-main__item">
                  <div class="user-main__text">
                    「マイク付きイヤホン ブラック」を購入しました。
                  <span>
                    取引が完了しました
                  </span>
                  </div>
                  <div>
                    取引完了
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="user-main__list-link" href="###">
                <figure>
                  <img src="###">
                </figure>
                <div class="user-main__item">
                  <div class="user-main__text">
                    「iphoneケーブル3本&充電器」を購入しました。
                  <span>
                    取引が完了しました
                  </span>
                  </div>
                  <div>
                    取引完了
                  </div>
                </div>
              </a>
            </li>
        </ul>
      </div>
    </section>
  </div>
</main>