<%= render partial: 'header' %>
<main>
  <%= render partial: 'side-bar' %>
  <div class="user-main">
    <section class="user-main-icon">
      <a href="">
        <figure>
          <img src="../assets/member_photo_noimage_thumb">
        </figure>
        <h2>
          mzk
        </h2>
        <div class="user-main-icon__under">
          <div>
            評価<span>99</span>
          </div>
          <div>
            出品数<span>192</span>
          </div>
        </div>
      </a>
    </section>
    <section class="user-main-content">
      <ul class="user-main__tab">
        <li class="a active">
          <h3>
            <div>
              お知らせ
            </div>
          </h3>
        </li>
        <li class="b">
          <h3>
            <div>
              やることリスト
            </div>
          </h3>
        </li>
      </ul>
      <div class="user-main__content-main">
        <ul id="user-main__content-todo" class="user-main__list">
          <li>
            <a class="user-main__list-link" href="###">
              <figure>
                <img src="../assets/mercari_profile">
              </figure>
              <div class="user-main__item">
                <div class="user-main__text">
                  事務局から個別メッセージ「ログイン通知」
                </div>
                <time>
                  <i class="far fa-clock"></i>
                  <span>
                    2時間前
                  </span>
                </time>
              </div>
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
          <li>
            <a class="user-main__list-link" href="###">
              <figure>
                <img src="../assets/mercari_profile">
              </figure>
              <div class="user-main__item">
                <div class="user-main__text">
                  事務局から個別メッセージ「売上金の残高があります」
                </div>
                <time>
                  <i class="far fa-clock"></i>
                  <span>
                    20時間前
                  </span>
                </time>
              </div>
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
          <li>
            <a class="user-main__list-link" href="###">
              <figure>
                <img src="../assets/mercari_profile">
              </figure>
              <div class="user-main__item">
                <div class="user-main__text">
                  《今月は手数料無料!》「メルペイあと払い」なら、チャージ不要で日々のお買い物がスムーズに!
                </div>
                <time>
                  <i class="far fa-clock"></i>
                  <span>
                    1日前
                  </span>
                </time>
              </div>
              <i class="fas fa-chevron-right"></i>
            </a>
          </li>
          <li class="user-main__list-all">
            <a href="###">
              一覧を見る
            </a>
          </li>
        </ul>
        <ul id="user-main__content-notification" class="user-main__list">
          <li class="nothing">
            現在、やることリストはありません
          </li>
        </ul>
      </div>
    </section>
    <section class="user-main__bought">
      <h2 class="user-main__bought-head">
        購入した商品
      </h2>
      <ul class="user-main__tab">
        <li class="c">
          <h3>
            <div>
              取引中
            </div>
          </h3>
        </li>
        <li class="d active" >
          <h3>
            <div>
              過去の取引
            </div>
          </h3>
        </li>
      </ul>
      <div class="user-main__content">
        <ul id="user-main__content-deal" class="user-main__list">
          <li class="nothing">
            取引中の商品はありません
          </li>
        </ul>
        <ul id="user-main__content-old" class="user-main__list">
            <li>
              <a class="user-main__list-link" href="###">
                <figure>
                  <img src="../assets/m36367856020_1">
                </figure>
                <div class="user-main__item">
                  <div class="user-main__text">
                    「本格ビジネスサイトを作りながら学ぶWordPressの教科書」を購入しました。
                  <span>
                    取引が完了しました
                  </span>
                  </div>
                  <div class="user-main__item-status">
                    取引完了
                  </div>
                </div>
                <i class="fas fa-chevron-right"></i>
              </a>
            </li>
            <li>
              <a class="user-main__list-link" href="###">
                <figure>
                  <img src="../assets/m22576455196_1">
                </figure>
                <div class="user-main__item">
                  <div class="user-main__text">
                    「マイク付きイヤホン ブラック」を購入しました。
                  <span>
                    取引が完了しました
                  </span>
                  </div>
                  <div class="user-main__item-status">
                    取引完了
                  </div>
                </div>
                <i class="fas fa-chevron-right"></i>
              </a>
            </li>
            <li>
              <a class="user-main__list-link" href="###">
                <figure>
                  <img src="../assets/m873408328_1">
                </figure>
                <div class="user-main__item">
                  <div class="user-main__text">
                    「iphoneケーブル3本&充電器」を購入しました。
                  <span>
                    取引が完了しました
                  </span>
                  </div>
                  <div class="user-main__item-status">
                    取引完了
                  </div>
                </div>
                <i class="fas fa-chevron-right"></i>
              </a>
            </li>
            <li class="user-main__list-all">
            <a href="###">
              一覧を見る
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>
<%= render partial: 'footer' %>