<div class="single-container">
  <%= render partial: 'single-header' %>
  <main class="single-main">
    <section class="single-main__container">
      <h2 class="single-main__container__h2">新規会員登録</h2>
      <div class="single-main__container__inner">
        <div class="single-main__container__inner__content">
          <a class="single-main__container__inner__content__btn btn-mail" href="/users/sign_up"><i class="far fa-envelope"></i>メールアドレスで登録</a>
          <button class="single-main__container__inner__content__btn btn-facebook"><i class="fab fa-facebook-square"></i><%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path %></button>
          <button class="single-main__container__inner__content__btn btn-google">Googleで登録</button>
        </div>
      </div>
    </section>
  </main>
  <%= render partial: 'single-footer' %>
</div>
