.single-container.sign-up__cards
  = render partial: 'single-header3'
  %main.single-main.signup-page__header
    %section.single-main__container
      %h2.single-main__container__h2 会員登録完了
      .single-main__container__sec
        %p.single-main__container__p
          ありがとうございます。<br>会員登録が完了しました。
        .single-main__container__form__content
          %button.single-main__container__form__content__btn{type: "submit"} メルカリを始める
  = render partial: 'single-footer'