.file{
    display: none;
}
.js-destroy{
    display: none;
}
.image-box-list.edit{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.edit-image{
    width:20%;
    color: #0099e8;
    div{
        margin:  0 auto;
        .border{
            cursor: pointer;
        }
        .js-remove{
            cursor: pointer;
        }
    }
}
.js-label{
    flex-grow: 1;
    width: auto!important;
}