.sell-container{
  &__inner{
    &__h2{
      padding: 32px 16px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    }
    &__form{
      border-top: 1px solid #eee;
      &__uploader-box{
        width: 620px;
        padding: 40px;
        &__h3{
          font-size: 16px;
          font-weight: bold;
          span{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: text-bottom;
          }
        }
        p{
          margin: 8px 0 0;
          line-height: 1.5;
          font-size: 14px;
        }
        &__container{
          display: block;
          width: 620px;
          margin: 16px auto 0;
          .image-box{
            .image-box-list{
              li{
                width: 112px;
                margin: 0 5px 10px 5px;
                background-color: #f5f5f5;
                border: 1px solid #eee;
                float: left;
                figure{
                  height: 116px;
                  width: auto;
                  line-height: 116px;
                  img{
                    width: 100%;
                    max-height: 120px;
                    vertical-align: middle;
                  }
                }
                div{
                  a{
                    display: inline-block;
                    width: 49%;
                    line-height: 44px;
                    text-align: center;
                    color: #0099e8;
                    cursor: pointer;
                    float: right;
                  }
                  .border{
                    border-right: 1px solid #eee;
                    float: left;
                  }
                }
              }
            }
          }
          &__item{
            width: 100%;
            margin-left: 0;
            float: right;
            padding: 40px;
            position: relative;
            min-height: 162px;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            font-size: 0;
            text-align: center;
            -webkit-transition: -webkit-box-shadow ease-out .3s;
            transition: -webkit-box-shadow ease-out .3s;
            transition: box-shadow ease-out .3s;
            transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
            cursor: pointer;
            box-sizing: border-box;
            input{
              display: none;
            }
            img{
              height: 150px;
              width: auto;
            }
            pre{
              position: absolute;
              top: 50%;
              left: 16px;
              right: 16px;
              text-align: center;
              font-size: 14px;
              line-height: 1.5;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              pointer-events: none;
              white-space: pre-wrap;
              word-wrap: break-word;
              display: block;
            }
          }
        }
        .clearfix:after{
          @include clearfix;
        }
      }
      &__content{
        padding: 40px;
        border-top: 1px solid #eee;
        &__h3{
          float: left;
          color: #888;
          font-size: 14px;
        }
        &__question{
          display: inline-block;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #0099e8;
          color: #fff;
          line-height: 14px;
          font-size: 12px;
          text-align: center;
          text-decoration: none;
          vertical-align: text-top;
        }
        &__form-box{
          float: right;
          width: 400px;
          margin: 0;
          &__ul{
            list-style: none;
            li{
              padding: 24px 0;
              border-top: 1px solid #ccc;
              font-size: 14px;
              &:first-child {
                padding: 0 0 24px;
                border: 0;
              }
              .l-left{
                float: left;
              }
              .l-right{
                float: right;
              }
            }
            .bold{
              font-weight: 600;
              font-size: 16px;
            }
          }
          .clearfix:after{
            @include clearfix;
          }
        }
      }
      .sell-btn-box{
        div{
          p{
            line-height: 1.5;
            font-size: 14px;
            a{
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
        &__btn{
          margin: 40px 0 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
        }
        &__gray-btn{
          width: 45%;
          margin: 24px auto 0;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          display: block;
          line-height: 48px;
          font-size: 14px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
        }
      }
      .clearfix:after{
        @include clearfix;
      }
    }
  }
}

.sell__form-group{
  margin: 40px 0 0;
  &:first-child {
    margin: 0;
  }
  label{
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
    span{
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: text-bottom;
    }
  }
  input{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box;
  }
  textarea{
    margin: 8px 0 0;
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 145px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
  }
  div{
    .l-left{
      width: 50%;
      line-height: 48px;
      float: left;
      span{
        background: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
    }
    .l-right{
      width: 50%;
      text-align: right;
      float: right;
      div{
        display: inline-block;
        width: 80%;
        margin: 0 0 0 5%;
        .l-right__input{
          margin: 0;
          text-align: right;
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
    }
  }
  .clearfix:after{
    @include clearfix;
  }
}

.select-wrap{
  margin: 8px 0 0;
  position: relative;
  background: #fff;
  &__default{
    width: 100%;
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    -webkit-appearance: none;
    option{

    }
  }
  i{
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}
.sell-container__inner__form__uploader-box__container__item{
  display: none;
}
.sell-container__inner__form__uploader-box__container__item:nth-of-type(1){
  display: block;
}