.item-box{
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
  width: 700px;
  box-sizing: border-box;
  &__h1{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  &__content{
    margin: 16px 0 0;
    &__img{
      float: left;
      min-width: 300px;
      max-width: 300px;
      min-height: 360px;
      position: relative;
      margin: 0 auto;
      background: #fafafa;
      .item-slide_banner{
        position: relative;
        height: 300px;
        overflow: hidden;
        &__main-image{
          width: 100%;
        }
        &-small{
          img{
            width: 60px;
            height: 60px;
          }
          &__sub{
            width: 20%;
            float: left;
          }
        }
        &__link {
          display: block;
          &__img1{
            @include slide-banner-owl-item-background("m73628829419_1.jpg");
          }
          &__img2{
            @include slide-banner-owl-item-background("m73628829419_1.jpg");
          }
          &__img3{
            @include slide-banner-owl-item-background("m73628829419_1.jpg");
          }
        }
        & .owl-nav {
          display: none;
        }
        & .owl-dots {
          // ネガティブマージンで表示位置を調整。
          margin: -30px;
          text-align: center;
        }
        & .owl-dot {
          position: relative;
          background: white !important;
          opacity: 0.4;
          border-radius: 50%;
          height: 12px;
          width: 12px;
          // min-heightの値を上書き
          min-height: 12px;
          margin-right: 15px;
          &.active {
            opacity: 1;
            background: rgba(0,0,0,0.5) !important;
          }
        }
        & .owl-stage-outer, .owl-stage, .owl-item, .owl-item>a {
          height: 100%;
        }
      }
    }
    &__table{
      float: right;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      border-spacing: 0;
      line-height: 13px;
      font-size: 13px;
      tbody{
        tr{
          th{
            width: 39%;
            text-align: left;
            font-weight: 400;
            background: #fafafa;
            padding: 8px;
            border-collapse: collapse;
            border: 1px solid #f5f5f5;
          }
          td{
            width: 61%;
            background: #fff;
            padding: 8px;
            border-collapse: collapse;
            border: 1px solid #f5f5f5;
            a{
              display: block;
              margin: 0;
              color: #0099e8;
              text-decoration: none;
              &:first-child {
                margin: 0;
              }
              div{
                .item-box__content__table__category{
                }
              }
            }
            div{
              .item-box__content__table__rating{
                display: inline-block;
                margin: 8px 0 0 16px;
                &:first-child {
                  margin: 0;
                }
                i{
                  font-size: 16px;
                  vertical-align: middle;
                }
                .fa-laugh{
                  color: #ef5185;
                }
                .fa-meh{
                  color: #fba933;
                }
                .fa-frown{
                  color: #6ab5d8;
                }
                span{
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
  }
  &__price{
    margin: 24px 0 0;
    text-align: center;
    &__price{
      margin: 0 16px 0 0;
      font-size: 45px;
      font-weight: 600;
      color: #ea352d;
    }
    &__tax{
      font-size: 10px;
    }
    &__fee{
      display: inline-block;
      font-size: 16px;
    }
  }
  &__buy-btn{
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 16px 0 0;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    font-size: 24px;
    text-decoration: none;
  }
  &__description{
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
    &__inner{
      white-space: pre-wrap;
    }
  }
  &__btn{
    margin: 16px 0 0;
    font-size: 0;
    &__left{
      float: left;
      &__like{
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        min-height: 1.5em;
        outline: 0;
        outline: 0;
        cursor: pointer;
        i{
          font-size: 14px;
          vertical-align: middle;
        }
        span{
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
        .like-count{
          -webkit-animation: fade-in-down ease-out .4s forwards;
          animation: fade-in-down ease-out .4s forwards;
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
      &__report{
        display: inline-block;
        margin: 0 0 0 16px;
        color: #333;
        background: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        text-decoration: none;
        i{
          font-size: 14px;
          vertical-align: middle;
        }
        span{
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
      .clearfix:after{
        @include clearfix;
      }
    }
    &__right{
      margin: 8px 0 0;
      float: right;
      a{
        display: inline-block;
        color: #0099e8;
        text-decoration: none;
        i{
          font-size: 14px;
          vertical-align: middle;
        }
        span{
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
    }
  }
  .clearfix:after{
    @include clearfix;
  }

}
.item__delete-or-edit{
  width: 700px;
  height: 262px;
  margin: 24px auto 29px auto;
  background: #fff;
  padding: 8px 16px 8px 16px;
  box-sizing: border-box;
  a{
    height: 50px;
    width: 100%;
    margin: 16px 0 ;
    background: #ea352d;
    color: #fff;
    display: block;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
  }
  a:hover{
    opacity: 0.5;
    transition: 1.5s;
  }
  p{
    text-align: center;
    font-size: 16px;
  }
  .item__stop , .item__delete{
    height: 50px;
    width: 100%;
    margin: 16px 0 ;
    background: #aaa;
    color: #fff;
    display: block;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
}
// .dia{
//   width: 600px;
//   margin: 20px auto;
//   background-color: white;
//   .message{
//       color: red;
//   }
// }

.item-message{
  width: 700px;
  margin: 8px auto;
  &__container{
    .item-message__container-comment{
      padding: 24px;
      background-color: #fff;
      .item-message__container-comment__ul{
        .item-message__container-comment__li{
          display: block;
          min-height: 100px;
          margin: 50px 0 30px 0;
          .item-message__container-comment__user-icon{
            float: left;
            position: relative;
            top: -20px;
            color: #333;
            figure{
              div{
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                img{
                  width: 100%;
                }
              }
              figcaption{
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 56px;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .item-message__container-comment__user-saller{
              margin: 8px 0 0;
              padding: 4px;
              background: #eef0f4;
              color: #000;
              font-size: 12px;
              vertical-align: top;
            }
          }
          .item-message__container-comment__body{
            float: right;
            position: relative;
            padding: 16px;
            background: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            width: 550px;
            margin: 10px;
            .item-message__container-comment__under{
              margin: 8px 0 0;
              .item-message__container-comment__under-left{
                display: block;
                color: #aaa;
                float: left;
                i{
                  vertical-align: middle;
                }
                span{
                  vertical-align: middle;
                }
              }
              .item-message__container-comment__under-right{
                display: block;
                float: right;
                i{
                  color: #aaa;
                }
              }
            }
          }
          .item-message__container-comment__body::before{
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transform: rotate(45deg);
            left: -15px;
            top: 10px;
            border-left: 26px solid #eef0f4;
            border-top: 1px solid #eef0f4;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
          .item-message__container-comment__body::after{
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transform: rotate(45deg);
            left: 35px;
            top: -10px;
            border-left: 11px solid #ffffff;
            border-top: 4px solid #ffffff;
            border-right: 8px solid transparent;
            border-bottom: 5px solid transparent;
          }
        }
        .item-message__container-comment__li-current{
          display: block;
          min-height: 100px;
          margin: 50px 0;
          .item-message__container-comment__user-icon{
            float: right;
            position: relative;
            top: -20px;
            color: #333;
            figure{
              div{
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                img{
                  width: 100%;
                }
              }
              figcaption{
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 56px;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .item-message__container-comment__user-saller{
              margin: 8px 0 0;
              padding: 4px;
              background: #fbf0e6;
              color: #000;
              font-size: 12px;
              vertical-align: top;
            }
          }
          .item-message__container-comment__body{
            float: left;
            position: relative;
            padding: 16px;
            background: #fbf0e6;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            width: 550px;
            margin: 10px;
            .item-message__container-comment__under{
              margin: 8px 0 0;
              .item-message__container-comment__under-left{
                display: block;
                color: #aaa;
                float: left;
                i{
                  vertical-align: middle;
                }
                span{
                  vertical-align: middle;
                }
              }
              .item-message__container-comment__under-right{
                display: block;
                float: right;
                i{
                  color: #aaa;
                }
              }
            }
          }
          .item-message__container-comment__body::before{
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transform: rotate(45deg);
            right: -6px;
            top: 6px;
            border-right: 2px solid #fbf0e6;
            border-top: 31px solid #fbf0e6;
            border-left: 10px solid transparent;
            border-bottom: -2px solid transparent;
          }
          .item-message__container-comment__body::after{
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transform: rotate(45deg);
            right: 35px;
            top: -13px;
            border-right: -20px solid #ffffff;
            border-top: 8px solid #ffffff;
            border-left: 13px solid transparent;
            border-bottom: 15px solid transparent;
          }
        }
      }
    }
    &__inner{
      padding: 24px;
      background: #fff;
      &__message-form{
        p{
          padding: 8px;
          font-size: 14px;
          background: #fff6de;
        }
        &__textarea{
          margin: 8px 0 0;
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
          box-sizing: border-box;
        }
        &__submit{
          width: 100%;
          margin: 8px 0 0;
          font-size: 0;
          text-align: center;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          display: block;
          line-height: 48px;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          span{
            font-size: 14px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.item-prev-next{
  margin: 20px auto 0;
  width: 700px;
  list-style: none;
  font-size: 14px;
  .clearfix:after{
    @include clearfix;
  }
  li{
    width: 45%;
    position: relative;
    word-wrap: break-word;
    display: inline-block;
  }
  &__prev{
    padding: 0 0 0 14px;
    a{
      color: #0099e8;
      text-decoration: none;
      i{
        left: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }
    }
  }
  &__next{
    float: right;
    padding: 0 14px 0 0;
    text-align: right;
    a{
      color: #0099e8;
      text-decoration: none;
      i{
        right: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }
    }
  }
}

.item-sns{
  margin: 20px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  &__btn{
    margin: 16px 0 0;
    text-align: center;
    font-size: 0;
    list-style: none;
    li{
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      a{
        display: block;
        color: #0099e8;
        text-decoration: none;
        i{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
        }
        .fa-facebook-square{
          color: #fff;
          background: #385185;
          font-size: 30px;
        }
        .fa-twitter{
          color: #fff;
          background: #5d9dc9;
          font-size: 30px;
        }
        .fa-pinterest{
          color: #fff;
          background: #aa262a;
          font-size: 18px;
        }
      }
    }
  }
}

.item-relation{
  width: 700px;
  margin: 0 auto;
  &__items__container{
    width: 700px;
    margin: 0 auto 30px;
    overflow: hidden;
    &__h2{
      margin: 24px 0 8px;
      font-size: 22px;
      line-height: 1.4;
      font-weight: bold;
      a{
        color: #0099e8;
        text-decoration: none;
      }
    }
    &__content{
      padding: 0;
      width: auto;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      font-size: 0;
      margin: 0 auto;
      .items-box{
        margin: 0 0 20px 20px;
        width: 213px;
        position: relative;
        float: left;
        display: block;
        background: $white;
        &:nth-child(3n+1) {
          margin: 0 0 20px;
        }
        a{
          display: block;
          color: $black;
          text-decoration: none;
          .items-box__figure{
            width: 100%;
            overflow: hidden;
            position: relative;
            height: 0;
            padding: 0 0 100%;
            &__img{
              top: 50%;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
              opacity: 1;
              -webkit-transition: opacity .3s;
              transition: opacity .3s;
              vertical-align: middle;
            }
          }
          .items-box__text{
            padding: 16px;
            height: 85px;
            &__name{
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: $black;
              &:after{
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: 1.5em;
                background: linear-gradient(to right, rgba(255,255,255,0), $white 72%);
              }
            }
            &__num{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;
              margin: 8px 0 0;
              &__price{
                font-size: 14px;
                font-weight: 600;
                color: $black;
              }
              &__likes{
                font-size: 14px;
                font-weight: 400;
                color: $black;
                i{
                  color: #ccc;
                }
              }
            }
            &__tax{
              font-size: 10px;
            }
          }
        }
      }
    }
    .clearfix:after{
      @include clearfix;
    }
  }
  .clearfix:after{
    @include clearfix;
  }
}
