.single-container {
  padding: 0;
  height: 2670px;
  .single-main{
    display: block;
    .login-panel{
      margin: 0 auto;
      background: #fff;
      max-width: none;
      width: 456px;
      &__no-account{
        padding: 40px 64px;
        text-align: center;
        p{
          font-size: 14px;
        }
        a{
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
        }
      }
      &__form-inner{
        padding: 32px 64px;
        border-top: 1px solid #eee;
        .single-main__container__inner__content{
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 12px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
        }
        .btn-facebook{
          position: relative;
          margin: 16px 0 0;
          background: #385185;
          color: #fff;
          .fa-facebook-square{
            position: absolute;
            top: 50%;
            left: 16px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            color: #fff;
            background: #385185;
            font-size: 26px;
          }
          a{
            color: white;
          }
        }
        .btn-google{
          margin: 16px 0 0;
          background: #fff image-url("google.svg") no-repeat 3px top;
          border: #979797 solid 1px;
          color: #333;
          a{
            color: black;
          }
        }
      }
      form{
        .login-panel__form-inner{
          padding: 32px 64px;
          border-top: 1px solid #eee;
          &:first-child{
            border: 0;
            padding: 24px 64px 32px;
          }
          .form-group{
            margin: 24px 0 0;
            &:first-child{
              margin: 0;
            }
            input{
              height: 30px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 90%;
              margin: 0;
            }
          }
          &__submit{
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            margin: 24px 0 0;
          }
          a{
            color: #0099e8;
            text-decoration: none;
            display: block;
            margin: 40px 0 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
.signin-container{
  height: 1170px !important;
}
