%footer.single-footer
  %nav
    %ul.clearfix
      %li
        %a{:href => ""} プライバシーポリシー
      %li
        %a{:href => ""} メルカリ利用規約
      %li
        %a{:href => ""} 特定商取引に関する表記
    = link_to root_path, class: "single-footer__logo" do
      -# %img{:src => "/image/logo-gray.svg"}/
      = image_tag "logo-gray.svg"
    %p
      %small © 2019 Mercari
