<footer class="single-footer">
  <nav>
    <ul class="clearfix">
      <li><a href="">プライバシーポリシー</a></li>
      <li><a href="">メルカリ利用規約</a></li>
      <li><a href="">特定商取引に関する表記</a></li>
    </ul>
    <a class="single-footer__logo" href="#">
      <img src="../assets/logo-gray.svg">
    </a>
    <p>
      <small>© 2019 Mercari</small>
    </p>
  </nav>
</footer>
