<div class="single-container signin-container">
  <%= render partial: 'single-header' %>
  <main class="single-main">
    <div class="login-panel">
      <div class="login-panel__no-account">
        <p>アカウントをお持ちでない方はこちら</p>
        <a href="#">新規会員登録</a>
      </div>
      <div class="login-panel__form-inner">
        <button class="single-main__container__inner__content__btn btn-facebook"><i class="fab fa-facebook-square"></i>Facebookで登録</button>
        <button class="single-main__container__inner__content__btn btn-google">Googleで登録</button>
      </div>
      <form action="" method="">
        <div class="login-panel__form-inner">
          <div class="form-group">
            <input type="email" name="email" placeholder="メールアドレス" class="form-group__input">
          </div>
          <div class="form-group">
            <input type="password" name="password" placeholder="パスワード" class="form-group__input">
          </div>
          <div class="form-group">
            ロボットではないのやつ入れる
          </div>
          <button class="login-panel__form-inner__submit">ログイン</button>
          <a href="#">パスワードをお忘れの方</a>
        </div>
      </form>
    </div>
  </main>
  <%= render partial: 'single-footer' %>
</div>
