<section class="items-box">
  <%= link_to item_path(item.id), method: :get do %>
    <figure class="items-box__figure">
      <%= image_tag item.item_images.first.image_url, class: "items-box__figure__img" %>
    </figure>
    <div class="items-box__text">
      <h3 class="items-box__text__name"><%= item.name %></h3>
      <div class="items-box__text__num">
        <div class="items-box__text__num__price"><%= converting_to_jpy(item.price) %></div>
        <div class="items-box__text__num__likes">
          <i class="far fa-heart"></i>
          <span>5</span>
        </div>
      </div>
      <p class="items-box__text__tax">(税込)</p>
    </div>
  <% end %>
</section>