<section class="items-box">
  <a href="#">
    <figure class="items-box__figure">
      <img class="items-box__figure__img" src="../assets/m73628829419_1.jpg">
    </figure>
    <div class="items-box__text">
      <h3 class="items-box__text__name">sampleasamplesamplesamplesample</h3>
      <div class="items-box__text__num">
        <div class="items-box__text__num__price">¥ 5,000</div>
        <div class="items-box__text__num__likes">
          <i class="far fa-heart"></i>
          <span>5</span>
        </div>
      </div>
      <p class="items-box__text__tax">(税込)</p>
    </div>
  </a>
</section>