.single-container.buy-container
  = render partial: 'single-header'
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__h2
        購入内容の確認
      .single-main__container__inner
        .single-main__container__inner__content
          = image_tag "/assets/m73628829419_1.jpg"
          %span.single-main__container__inner__content__item-name
            ワンピース
          .single-main__container__inner__content__item-price
            %span.single-main__container__inner__content__item-price__price
              ¥3,200
            %span.single-main__container__inner__content__item-price__price__sub
              送料込み
          .single-main__container__inner__content__point
            ポイントはありません
          .single-main__container__inner__content__total-price
            .single-main__container__inner__content__total-price__price
              支払い金額
            %span.single-main__container__inner__content__total-price__price__sub
              ¥3,200
          .single-main__container__inner__content__alert
            配送先と支払い方法の入力を完了してください。
          %button.single-main__container__inner__content__buy-btn
            =link_to "購入する", '#', target: "_blank"
          .single-main__container__inner__content__address
            配送先
          .single-main__container__inner__content__address__user-address
            大阪府　大阪市
          .single-main__container__inner__content__address__sub
            =link_to "変更する", '#', target: "_blank"
          .single-main__container__inner__content__pay
            支払い方法
          .single-main__container__inner__content__pay__user-pay
            カード情報
          .single-main__container__inner__content__pay__sub
            =link_to "変更する", '#', target: "_blank"
  = render partial: 'single-footer'
