<div class="single-container">
  <%= render partial: 'single-header' %>
  <main class="single-main">
    <section class="single-main__container">
      <h2 class="single-main__container__h2">購入内容の確認</h2>
      <div class="single-main__container__inner">
        <div class="single-main__container__inner__content">
          <img src="" >
          <span class="single-main__container__inner__content__item-name">ワンピース</span>
          <div class="single-main__container__inner__content__item-price">
                      <span class="single-main__container__inner__content__item-price__price">¥3,200</span>
                        <div class="single-main__container__inner__content__item-price__price__sub">送料込み</div>
          </div>
          <div class="single-main__container__inner__content__point">ポイントはありません</div>
          <div class="single-main__container__inner__content__total-price">支払い金額</div>
            <div class="single-main__container__inner__content__total-price__sub">¥3,200</div>
          <div class="single-main__container__inner__content__alert">配送先と支払い方法の入力を完了してください。</div>
          <button class="single-main__container__inner__content__buy-btn">購入する</button>
          <div class="single-main__container__inner__content__address">配送先</div>
            <div class="single-main__container__inner__content__address__sub">変更する</div>
          <div class="single-main__container__inner__content__pay">支払い方法</div>
            <div class="single-main__container__inner__content__pay__sub">変更する</div>
        </div>
      </div>
    </section>
  </main>
  <%= render partial: 'single-footer' %>
</div>
