<div class="single-container">
  <%= render partial: 'single-header' %>
  <main class="single-main">
    <section class="single-main__container">
      <div class="sell-container">
        <div class="sell-container__inner">
          <h2 class="sell-container__inner__h2">商品情報を入力</h2>
          <form class="sell-container__inner__form">
            <div class="sell-container__inner__form__uploader-box">
              <h3 class="sell-container__inner__form__uploader-box__h3">出品画像<span>必須</span></h3>
              <p>最大10枚までアップロードできます</p>
              <div class="sell-container__inner__form__uploader-box__container clearfix">
                <div class="sell-container__inner__form__uploader-box__container__item">
                  <input type="file" name="image">
                  <pre>ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード</pre>
                </div>
              </div>
            </div>
            <div class="sell-container__inner__form__content">
              <div class="sell__form-group">
                <label>商品名<span>必須</span></label>
                <div>
                  <input placeholder="商品名(必須 40文字まで)">
                </div>
              </div>
              <div class="sell__form-group">
                <label>商品の説明<span>必須</span></label>
                <textarea placeholder="商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"></textarea>
              </div>
            </div>
            <div class="sell-container__inner__form__content clearfix">
              <h3 class="sell-container__inner__form__content__h3">商品の詳細</h3>
              <div class="sell-container__inner__form__content__form-box">
                <div class="sell__form-group">
                  <label>カテゴリー<span>必須</span></label>
                  <div>
                    <div class="select-wrap">
                      <select class="select-wrap__default">
                        <option value>---</option>
                        <option value="1">レディース</option>
                        <option value="2">メンズ</option>
                        <option value="3">ベビー・キッズ</option>
                        <option value="4">インテリア・住まい・小物</option>
                        <option value="5">本・音楽・ゲーム</option>
                      </select>
                      <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="select-wrap">
                      <select class="select-wrap__default">
                        <option value>---</option>
                        <option value="6">トップス</option>
                        <option value="7">ジャケット/アウター</option>
                        <option value="8">パンツ</option>
                        <option value="9">スカート</option>
                        <option value="10">ワンピース</option>
                      </select>
                      <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="select-wrap">
                      <select class="select-wrap__default">
                        <option value>---</option>
                        <option value="11">Tシャツ/カットソー(半袖/袖なし)</option>
                        <option value="12">Tシャツ/カットソー(七分/長袖)</option>
                        <option value="13">シャツ/ブラウス(半袖/袖なし)</option>
                        <option value="14">シャツ/ブラウス(七分/長袖)</option>
                        <option value="15">ポロシャツ</option>
                      </select>
                      <i class="fas fa-chevron-down"></i>
                    </div>
                  </div>
                </div>
                <div class="sell__form-group">
                  <label>商品の状態<span>必須</span></label>
                  <div class="select-wrap">
                    <select class="select-wrap__default">
                      <option value>---</option>
                      <option value="1">新品、未使用</option>
                      <option value="2">未使用に近い</option>
                      <option value="3">目立った傷や汚れなし</option>
                      <option value="4">やや傷や汚れあり</option>
                      <option value="5">傷や汚れあり</option>
                      <option value="6">全体的に状況が悪い</option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="sell-container__inner__form__content clearfix">
              <h3 class="sell-container__inner__form__content__h3">配送について</h3>
              <a href="#" target="_blanck" class="sell-container__inner__form__content__question">?</a>
              <div class="sell-container__inner__form__content__form-box">
                <div class="sell__form-group">
                  <label>配送料の負担<span>必須</span></label>
                  <div class="select-wrap">
                    <select class="select-wrap__default">
                      <option value>---</option>
                      <option value="2">送料込み(出品者負担)</option>
                      <option value="1">着払い(購入者負担)</option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                  </div>
                </div>
                <div class="sell__form-group">
                  <label>発送元の地域<span>必須</span></label>
                  <div class="select-wrap">
                    <select class="select-wrap__default">
                      <option value>---</option>
                      <option value="1">北海道</option>
                      <option value="2">青森県</option>
                      <option value="3">岩手県</option>
                      <option value="4">宮城県</option>
                      <option value="5">秋田県</option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                  </div>
                </div>
                <div class="sell__form-group">
                  <label>発送までの日数<span>必須</span></label>
                  <div class="select-wrap">
                    <select class="select-wrap__default">
                      <option value>---</option>
                      <option value="1">1~2日で発送</option>
                      <option value="2">2~3日で発送</option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="sell-container__inner__form__content clearfix">
              <h3 class="sell-container__inner__form__content__h3">販売価格(300〜9,999,999)</h3>
              <a href="#" target="_blanck" class="sell-container__inner__form__content__question">?</a>
              <div class="sell-container__inner__form__content__form-box">
                <ul class="sell-container__inner__form__content__form-box__ul">
                  <li class="sell__form-group">
                    <div class="clearfix">
                      <label class="l-left">価格<span>必須</span></label>
                      <div class="l-right">¥<div><input class="l-right__input" placeholder="例)300"></div></div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="l-left">販売手数料 (10%)</div>
                    <div class="l-right">-</div>
                  </li>
                  <li class="clearfix bold">
                    <div class="l-left">販売利益</div>
                    <div class="l-right">-</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sell-container__inner__form__content sell-btn-box">
              <div>
                <p><a href="#">禁止されている出品</a>、<a href="#">行為</a>を必ずご確認ください。</p>
                <p>またブランド品でシリアルナンバー等がある場合はご記載ください。<a href="#">偽ブランドの販売</a>は犯罪であり処罰される可能性があります。</p>
                <p>また、出品をもちまして<a href="#">加盟店規約</a>に同意したことになります。</p>
              </div>
              <button type="submit" class="sell-btn-box__btn">出品する</button>
              <a href="" class="sell-btn-box__gray-btn">もどる</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <%= render partial: 'single-footer' %>
</div>