<section class="item-box">
  <h1 class="item-box__h1">ワンピース</h1>
  <div class="item-box__content clearfix">
    <div class="item-box__content__img">
      <div class="owl-carousel item-slide_banner">
        <a href="#" class="item-slide_banner__img1"></a>
        <a href="#" class="item-slide_banner__img2"></a>
        <a href="#" class="item-slide_banner__img3"></a>
      </div>
    </div>
    <div class="item-box__content__table">
      <tbody>
        <tr>
          <th>出品者</th>
          <td>
            <a href="#">名前</a>
            <div>
              <div class="item-box__content__table__rating">
                <i class="fas fa-laugh"></i>
                <span>5</span>
              </div>
              <div class="item-box__content__table__rating">
                <i class="fas fa-meh"></i>
                <span>4</span>
              </div>
              <div class="item-box__content__table__rating">
                <i class="fas fa-frown"></i>
                <span>0</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td>
            <a href="#">
              <div>親カテゴリー</div>
            </a>
            <a href="">
              <div class="item-box__content__table__category">
                <i class="fas fa-chevron-right"></i>子カテゴリー
              </div>
            </a>
            <a href="">
              <div class="item-box__content__table__category">
                <i class="fas fa-chevron-right"></i>孫カテゴリー
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <th>ブランド</th>
          <td>
            <a href="#">
              <div>ブランド名</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>商品のサイズ</th>
          <td>M</td>
        </tr>
        <tr>
          <th>商品の状態</th>
          <td>目立った傷なし</td>
        </tr>
        <tr>
          <th>配送料の負担</th>
          <td>送料込み(出品者負担)</td>
        </tr>
        <tr>
          <th>配送の方法</th>
          <td>メルカリ便</td>
        </tr>
        <tr>
          <th>配送元地域</th>
          <td>
            <a href="#">
              <div>東京都</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>発送日の目安</th>
          <td>2〜3日で発送</td>
        </tr>
      </tbody>
    </div>
  </div>
  <div class="item-box__price">
    <span class="item-box__price__price">¥ 3,000</span>
    <span class="item-box__price__tax">(税込)</span>
    <span class="item-box__price__fee">送料込み</span>
  </div>
  <a class="item-box__buy-btn">
    購入画面に進む
  </a>
  <div class="item-box__description">
    <p class="item-box__description__inner">
      ワンピースです。ご不明点があればコメントよろしくお願いいたします。
    </p>
  </div>
  <div class="item-box__btn clearfix">
    <div class="item-box__btn__left">
      <button type="button" name="like" class="item-box__btn__left__like">
        <i class="far fa-heart"></i>
        <span>いいね!</span>
        <span class="like-count">0</span>
      </button>
      <a href="#" class="item-box__btn__left__report clearfix">
        <i class="far fa-flag"></i>
        <span>不適切な商品の報告</span>
      </a>
    </div>
    <div class="item-box__btn__right">
      <a href="#">
        <i class="fas fa-lock"></i>
        <span>あんしん・あんぜんへの取り組み</span>
      </a>
    </div>
  </div>
</section>

<div class="item-message">
  <div class="item-message__container">
    <div class="item-message__container__inner">
      <form action="" method="" class="item-message__container__inner__message-form">
        <p>相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
        <textarea type="text" name="body" class="item-message__container__inner__message-form__textarea"></textarea>
        <button type="submit" class="item-message__container__inner__message-form__submit">
          <span>コメントする</span>
        </button>
      </form>
    </div>
  </div>
</div>

<ul class="item-prev-next clearfix">
  <li class="item-prev-next__prev">
    <a href="#">
      <i class="fas fa-chevron-left"></i>ピアス
    </a>
  </li>
  <li class="item-prev-next__next">
    <a href="#">
      <i class="fas fa-chevron-right"></i>シャツ
    </a>
  </li>
</ul>

<div class="item-sns">
  <ul class="item-sns__btn">
    <li>
      <a href="#">
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fab fa-pinterest"></i>
      </a>
    </li>
  </ul>
</div>

<div class="item-relation">
  <section class="item-relation__items__container clearfix">
    <h2 class="item-relation__items__container__h2">
      <a href="#">〇〇さんのその他の出品</a>
    </h2>
    <div class="item-relation__items__container__content clearfix">
      <%= render partial: 'item' %>
      <%= render partial: 'item' %>
      <%= render partial: 'item' %>
      <%= render partial: 'item' %>
    </div>
  </section>
</div>